<button (click)="showNodeAddress()">Show My Address</button>
<div *ngIf="myAddress">
  <p>My Address: {{ myAddress }}</p>
  <img alt="qrcode" [src]="myAddress | toQrcode | async" />
</div>
<h2>Connect to peer</h2>
<input title="peer id" [(ngModel)]="peerId" />
<button (click)="scan()">Scan</button>
<button (click)="api.connectToPeer(peerId); peerId = ''">Connect</button>
<p>Status: {{ (api.connected$ | async) ? "connect" : "not connect" }}</p>

<h2>Rooms:</h2>
<input title="new room" [(ngModel)]="newRoom" />
<button (click)="api.createRoom(newRoom); newRoom = ''">Add Room</button>
<ul *ngIf="api.rooms$ | async as rooms">
  <li *ngFor="let room of rooms">
    <a (click)="selectedRoom = room.id">{{
      room | json
    }}</a>
  </li>
</ul>

<h2>Messages:</h2>
<input title="selected room" [(ngModel)]="selectedRoom" />
<br />
<textarea title="new message" [(ngModel)]="newMessage"></textarea>
<button (click)="api.sendMessage(newMessage, selectedRoom); newMessage = ''">
  Add Message
</button>
<pre>
  {{ api.messages$ | async | json }}
</pre>
<div id="qr-code-reader"></div>
